<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".MainApplication"
        android:label="VggDemo"
        android:resizeableActivity="true">
        <activity
            android:name=".activity.VggXmlDemoActivity"
            android:exported="false" />
        <activity
            android:name=".activity.VggDemoSelectActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.VggDemoViewActivity"
            android:exported="true" />
    </application>

</manifest>